Problem Statement
Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/
Rename the columns as per the description from this file:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names
Task:
Create a sql db from adult dataset and name it sqladb
1. Select 10 records from the adult sqladb
2. Show me the average hours per week of all men who are working in private sector
3. Show me the frequency table for education, occupation and relationship, separately
4. Are there any people who are married, working in private sector and having a masters degree
5. What is the average, minimum and maximum age group for people working in different sectors
6. Calculate age distribution by country
7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import sqlite3 as db

In [2]:
target_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
from urllib.request import urlopen
data = urlopen(target_url)

In [3]:
data.read(1000)

b'39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K\n50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K\n38, Private, 215646, HS-grad, 9, Divorced, Handlers-cleaners, Not-in-family, White, Male, 0, 0, 40, United-States, <=50K\n53, Private, 234721, 11th, 7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male, 0, 0, 40, United-States, <=50K\n28, Private, 338409, Bachelors, 13, Married-civ-spouse, Prof-specialty, Wife, Black, Female, 0, 0, 40, Cuba, <=50K\n37, Private, 284582, Masters, 14, Married-civ-spouse, Exec-managerial, Wife, White, Female, 0, 0, 40, United-States, <=50K\n49, Private, 160187, 9th, 5, Married-spouse-absent, Other-service, Not-in-family, Black, Female, 0, 0, 16, Jamaica, <=50K\n52, Self-emp-not-inc, 209642, HS-grad, 9, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 45, United-States, >50K\n31, '

In [ ]:
import mysql.connector
#Provide {userName} and {passWord} for your Mysql client connection
db = mysql.connector.connect(
host="localhost:3306",
user="root",
passwd="Diksha12#"
)

#cursor is used to execute sql Queries
cursor = mydb.cursor()

#Create Database
cursor.execute("CREATE DATABASE sqladb")
cursor.execute("USE sqladb")

#Create Table with the naming convention
cursor.execute("CREATE TABLE adultTable (age INT(2),workclass VARCHAR(255), fnlwgt INT(5), education VARCHAR(255), education-num INT(5), marital-status VARCHAR(255), occupation VARCHAR(255), relationship VARCHAR(255), race VARCHAR(255), sex VARCHAR(255), capital-gain INT(20), capital-loss INT(20), hours-per-week INT(20), native-country VARCHAR(255) )", moreThan50K VARCHAR(255))

#Load data to table
table_data = data
for row in table_data:
  cursor.execute('INSERT INTO adultTable VALUES("%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s", "%s")',row)

# Commit is important to reflect the changes
db.commit()

In [ ]:
# 1) Select 10 rows from table
cursor.execute("SELECT * FROM adultTable LIMIT 10")
myresult = cursor.fetchall()
for x in myresult:
 print(x)

In [ ]:
# 2) Average hours per week for all man who are working in private sector
cursor.execute("SELECT AVG(hours-per-week) average-hours-per-week FROM adultTable WHERE workclass = 'Private' ")
myresult = cursor.fetchall()
for x in myresult:
print(x)

In [ ]:
# 3) Frequency tables
#    a) education
cursor.execute("SELECT education , COUNT(education) frequency FROM adultTable GROUP BY education ")
myresult = cursor.fetchall()
for x in myresult:
print(x)

#    b) occupation
cursor.execute("SELECT occupation, COUNT(occupation) frequency FROM adultTable GROUP BY occupation ")
myresult = cursor.fetchall()
for x in myresult:
print(x)

#    a) relationship
cursor.execute("SELECT relationship, COUNT(relationship) frequency FROM adultTable GROUP BY relationship ")
myresult = cursor.fetchall()
for x in myresult:
print(x)

In [ ]:
# 4) Are there any people who are married, working in private sector and having a masters degree 
cursor.execute("SELECT IF(count > 0, 'Yes', 'No') _exist FROM ( SELECT COUNT(marital_status) count FROM adultTable WHERE marital-status IN ('Married-civ-spouse', 'Married-spouse-absent' , 'Married-AF-spouse')) alias ")
myresult = cursor.fetchall()
for x in myresult:
print(x)

In [ ]:
# 5) Average, minimum and maximum age group for people working in different sectors
cursor.execute(" SELECT workclass as sector, AVG(age) averageAge, MIN(age) minAge, MAX(age) maxAge  FROM adultTable GROUP BY workclass ")
myresult = cursor.fetchall()
for x in myresult:
print(x)

In [ ]:
#6) Calculate age distribution by country
cursor.execute(" SELECT Age FROM adultTable GROUP BY country ")
myresult = cursor.fetchall()
for x in myresult:
print(x)

In [ ]:
#7) Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'
cursor.execute(" SELECT capital-gain - capital-loss as Net-Capital-Gain FROM adultTable ")
myresult = cursor.fetchall()
for x in myresult:
print(x)